# --- Django General Settings ---
SECRET_KEY=django-insecure-make-up-your-own-key-here
DEBUG=True
ENVIRONMENT=development
BASE_URL=http://127.0.0.1:8000/

# --- Database Settings ---
# Leave DATABASE_URL empty to fallback to SQLite for now
# Or use: postgres://user:password@localhost:5432/dbname
DATABASE_URL=

# --- Cloudinary Settings (Required for your Media Storage) ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# --- Authentication Settings ---
GOOGLE_AUTH_ID=
GOOGLE_AUTH_SECRET=

# --- Redis/Celery (If you have Redis installed locally) ---
REDIS_URL=

ADMIN_EMAILS=
DEFAULT_FROM_EMAIL=

EMAIL_USER=
EMAIL_PASS=